<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
<div class="container">

    <div>
        <img src="gryffindor.png" height="200px" width="200px" alt=" img1">
     <a href="/house/gryffindor">gryffindor</a>   
    </div>
    <div>
        <img src="hufflepuff.png" height="200px" width="200px" alt="">
       <a href="/house/hufflepuff">hufflepuff</a> 
    </div>
    <div>
        <img src="ravenclaw.png" height="200px" width="200px" alt="">
        <a href="/house/ravenclaw">ravenclaw</a> 
        
    </div>
    <div>
        <img src="slytherin.png"  height="200px" width="200px" alt="">
        <a href="/house/slytherin">slytherin</a> 

        
    </div>
</div>

  <p><%= msg%> </p>  
</body>

</html>